@page
@{
}

<div class="text-center">
    <h2 style="font-family:Chivo">Order Sucessfully Placed</h2>
    <p style="font-family:Crimson Pro">Watch your email for shipping information.</p>
    <h3 style="font-family:Chivo">Thanks for your order!</h3>
    <a class="btn btn-primary" asp-controller="Home" style="font-family:Chivo">Return Home</a>
</div>